.header {
    height: 34vw;
    min-height: 400px;
    max-height: 500px;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: max(1vw, 14px);
}

.header-contents a {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

.header-contents a:hover {
    color: tomato;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
    .header {
        min-height: 350px;
    }
}

@media (max-width: 750px) {
    .header {
        height: auto;
        min-height: 300px;
        margin: 20px auto;
    }
    .header-contents {
        max-width: 80%;
        gap: 1vw;
        bottom: 8%;
        left: 5vw;
    }
    .header-contents h2 {
        font-size: max(6vw, 20px);
    }
    .header-contents p {
        display: none;
    }
    .header-contents a {
        padding: 2vw 4vw;
        font-size: 14px;
    }
}